body{
    background: rgb(152, 224, 241);
}

.principal{
    width:100% ;
    max-width: 1650px;
    margin: 6% auto;
    display: flex;
    align-items: stretch;
    background: #fff;
    position: relative;
}

.login,
.singup{
    width: 50%;
    padding: 130px 30px;
    text-align: center;
}

form{
margin-top: 40px;
}

p{
    color: rgb(0, 0, 0);
}

h2{
 color: rgb(46, 48, 48);
}

form input{
    width: 70%;
    max-width: 600px;
    display: block;
    margin: 20px auto;
    padding: 14px 30px;
    border: 1px solid #999;
    border-radius: 4px;
}

form button{
    padding: 12px 40px;
    background: rgb(152, 224, 241) ;
    color: #fff;
    border: transparent;
}

.animacion{
    position: absolute;
    z-index: 9;
    width: 50%;
    height: 100%;
    background: rgb(90, 131, 140);
    color: #fff;
    right: 0;
    top: -50px;
    padding: 50px 0;
    text-align: center;
    transition: 1s;   
}

.animacion.entrar{
    display: none ;
}

.animacion.left .entrar{
    display: block;
}

.animacion.left .register{
    display: none;
}

.animacion.left{
    right: 50%;
}

.animacion h2{
    color: #fff;
    margin-top:120px;
}

.animacion p{
    color:#fff;
    padding: 10px 50px;
}

.animacion a{
    background: #fff;
    color: rgb(40, 61, 61);
    padding: 14px 30px;
    border: transparent;
    text-decoration: none;
    display: inline-block;
    margin: 30px auto;
}

